@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Syne:wght@400..800&display=swap');

.call-to-action {
    padding: 200px 0 262px;
}


.call-to-action > .flex {
    align-items: center;
    justify-content: space-between;
    gap: 102px;
}


.call-to-action .content {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}


.call-to-action .content h2 {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    width: 481px;
    font-family: 'Playfair Display', serif;
}


.call-to-action .content p {
    font-size: 17px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
    color: #7D7987;
}


.call-to-action .content button {
    padding: 15px 35px;
    background: #FB8F1D;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}


@media (max-width: 500px) {
    body section.call-to-action {
        overflow-x: hidden;
        width: 100vw;
    }


    body .call-to-action {
        width: 100%;
        padding: 50px 0;
    }


    body .call-to-action > .flex {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }


    section.call-to-action img {
        width: 90vw;
    }


    body .call-to-action .content h2 {
        padding: 0 0 25px 0;
        font-size: 40px;
        width: 90vw;
    }


    body .call-to-action .content p {
        width: 90vw;
    }
}